<nav class="nav is-dark has-shadow" id="top">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="../index.html">
                <h1>System sterowania klimatyzacją</h1>
            </a>
        </div>
        <span class="nav-toggle">
            <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item">Użytkownik: test</a>
            <a class="nav-item is-tab is-active">
              Wyloguj
            </a>
        </div>
    </div>
</nav>


<section class="section" id="main-content-section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <aside class="menu">
                    <p class="menu-label">System</p>
                    <ul class="menu-list" href="../index.html">
                        <li><a class="is-active">Strona główna</a></li>
                    </ul>
                    <p class="menu-label">Użytkownicy</p>
                    <ul class="menu-list">
                        <li><a>Ustawienia konta</a></li>
                    </ul>
                    <p class="menu-label">Klimatyzator</p>
                    <ul class="menu-list">
                        <li><a>Planowanie</a></li>
                        <li>
                            <a>Profile ustawień</a>
                            <ul>
                                <li><a>Dodaj nowy</a></li>
                                <li><a>Zarządzaj</a></li>
                            </ul>
                        </li>

                    </ul>
                    <p class="menu-label">Administracja</p>
                    <ul class="menu-list">
                        <li><a>Konta użytkowników</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <a class="has-text-black"> </a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Witold Karaś, 2017
            </p>
        </div>
    </div>
</footer>