<nav class="nav is-dark has-shadow" id="top">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" href="../index.html">
              <img src="../images/bulma.png" alt="Description">
            </a>
        </div>
        <span class="nav-toggle">
            <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-active">
              Dashboard
            </a>
            <a class="nav-item is-tab">
              Activity
            </a>
            <a class="nav-item is-tab">
              Timeline
            </a>
            <a class="nav-item is-tab">
              Folders
            </a>
        </div>
    </div>
</nav>


<section clas="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="uploader">
                    <br>
                </div>
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li><a>Customers</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a class="is-active">Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Plugins</a></li>
                                <li><a>Add a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>